<p id="notice"><%= notice %></p>

<p>
  <strong>Emai:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= form_for @student, method: :put do |f| %>
    <% @teachers.each do |teacher| %>
      <strong>Teacher's name:</strong> <%= teacher.name %>
      <table>
        <tr>
          <td>
            timeslots
          </td>
          <% @weekdays.each do |weekday| %>
          <td>
            <%= weekday %>
          </td>
          <% end %>
        </tr>

        <% @time_slots.each do |time| %>
          <tr>
            <td>
              <%= time %>
            </td>

            <% @weekdays.each do |weekday| %>
              <td>
                <%= check_box :selected_lessons, "[#{weekday}_#{time}]"  %></td>
              </td>
            <% end %>
          </tr>
        <% end %>

      </table>
    <% end %>

    <%= submit_tag 'Submit' %>

  <% end %><!-- /form_for -->
</p>



